body{
	align-items: center;
	display:flex;
	justify-content: center;
	height:100vh;
}

.a1{
	width: 260px;
	height: 60px;
	background-color: grey;
	border-radius: 10px ;
	border: 3px solid white;

}
input::placeholder{
	color: white;
	font-size: 40px;
	text-align: right;
}
input{
	color: white;
}

.b1{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.b1 button{
	color: green !important	;
    font-size: 18px !important	;
}

.b2{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.b3{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.b4{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.b5{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;

}
.btn{
font-size: 28px !important	;

}
.box{
	background-color:black;
	padding: 50px;
	border-radius:30px ;

}

button{
	width:60px;
	height:60px;
/*	background: transparent;*/
    background-color: whitesmoke !important	;
	color: white;
	font-size: 20px;
	font-weight: bold !important	;
	box-shadow: -8px 8px 15px rgb(255,255,255,0.3);
	border-radius: 40px !important;
}
